.fade-in-section {
  opacity: 0;
  transform: translateY(0vh);
  visibility: hidden;
  transition: opacity 0.05s ease-out, transform 0.1s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transition-delay: 0.05s;
  transform: none;
  visibility: visible;
}
